body {
    font-family: 'mukta', 'sans-serif';
}

.input-group {
    margin-left: 700px;
    width: 30%;
}

ul {
    list-style: none;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10px;
    margin: 0 auto
}

.news {
    width: 76%;
    padding: 0 2%
}

.title {
    width: 10%;
    text-align: center;
    background: #c81c1c;
    position: relative;
}

/* .title:after {
    position: absolute;
    content: "";
    right: -22%;
    border-left: 20px solid #c81c1c;
    border-top: 28px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 21px solid transparent;
    top: 0px
} */
/* .title h5 {
    font-size: 18px;
    margin: 8% 0
}
.news marquee {
    font-size: 18px;
    margin-top: 12px
}
.news-content p {
    margin-right: 41px;
    display: inline
/* } */
.footer hr{
    width: 100%;
    border: 2px solid white;
} 

.navbar {
    background-color: hsl(220.15deg 61.82% 43.14%);
}

.footer {
    background-color: hsl(220.15deg 61.82% 43.14%);
}

.btn {
    background-color: hsl(220.15deg 61.82% 43.14%);
}

.nav {
    background-color: hsl(220.15deg 61.82% 43.14%);
}

.container-fluid {
    background-color: hsl(220.15deg 61.82% 43.14%);
}

p {
    text-align: justify;
}


a :hover {
    background-color: #c81c1c;
}


.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    /* margin: 0 auto; */
    /* position: fixed;
      bottom: 0px; */
    right: 0px;
    z-index: 20;
    margin-top:5px;
}

.news {
    width: 100%;
    background: whitesmoke;
}

.news-title {
    width: 180px;
    text-align: center;
    background: #C8102E;
    position: absolute;
    z-index: 10;
    height: 50px;
}

.news-title:after {
    position: absolute;
    content: "";
    right: -39px;
    border-left: 20px solid #C8102E;
    border-top: 28px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 21px solid transparent;
    top: 0px
}

.news-title h5 {
    font-size: 17px;
    margin: 8% 0;
    color: #fff;
}

.news marquee {
    font-size: 16px;
    margin-top: 15px
}

.news-content p {
    margin-right: 41px;
    display: inline;
    color: #222;
}
a{
    text-decoration: none;
}